/* 
playb.al 
author: lenny - onehundred.be
css programing: less css
based on: less framework 3 by Joni Korpi http://lessframework.com 
*/

/* LESS GLOBALS start */

@korfbalColor: #ebbb25;
@korfbalBorderColor: #d1a521;
@basketbalColor: #e55714;
@basketbalBorderColor: #cc4d12;
@volleybalColor: #336b80;
@volleybalBorderColor: #1f404d;
@grey: #f2f2f2;
@selectionColor: rgba(232, 34, 55, 1);
@headerHeight: 75px;
@footerHeight: 150px;
.borders {
	border: 1px solid
}
.borderRadius {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.transitionOn {
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
}
.transitionOn2 {
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: ease-in-out;
}
.transitionOff {
	-webkit-transition-duration: 1s;
}
.transitionOff2 {
	-webkit-transition-duration: 4s;
}
.lessOpacity {
	opacity: 0.8;
}
.moreOpacity {
	opacity: 1;
}
.innerShadow {
	-webkit-box-shadow: inset 0px 0px 10px #bdbdbd;
	-moz-box-shadow: inset 0px 0px 10px #bdbdbd;
	box-shadow: inset 0px 0px 10px #bdbdbd;
}
.textShadow {
	text-shadow: 0px 0px 7px #474747;
}
/* LESS GLOBALS end */

/* RESETS start */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height:100%;
}
#topbar {
	background-color: #d9d9d9;
	height: 7px;
}
#wrap {
	min-height: 100%;
}
#main {
 padding-bottom: @footerHeight; /* same as footer */
}
footer {
	position: relative;
 margin-top: -@footerHeight; /* negative of footer */
 height: @footerHeight;
	background-repeat: no-repeat;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
	display: block;
}
a {
	text-decoration: none;
	color: #444;
}
a img {
	border: 0;
}
figure {
	position: relative;
}
/*
figure img {
	width: 100%;
}
*/
/* RESETS end */

/* TYPE PRESETS begin */

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}
.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: 1px;
}
.large, h2 {
	font-size: 42px;
	line-height: 48px;
}
.big, h3 {
	font-size: 26px;
	line-height: 36px;
}
.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}
.small {
	font-size: 13px;
	line-height: 18px;
}
/* TYPE PRESETS end */

/*	Default 8-column layout

	60 px columns, 24 px gutters, 60 px margins, 768 px total

	---------------------------------------------------------

	1     2      3      4      5      6      7      8     

	60px  144px  228px  312px  396px  480px  564px  648px	*/

::selection {
 background: @selectionColor;
}
::-moz-selection {
 background: @selectionColor;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
 background: transparent;
}
body {
	background: #f2f2f2;
	padding: 0 60px 0;
	margin-left:auto;
	margin-right:auto;
	width: 648px;
 -webkit-tap-highlight-color: @selectionColor;
	text-rendering: optimizeLegibility;
}
header {
 height: @headerHeight;
}
footer {
	background-image: url("../img/footer1.png");
}
#logo {
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
 	width:104px;
	height: 40px;
	float:left;
}
#logo:active {
	-moz-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
.bottomButtons {
	float: right;
	display: inline;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	padding-left: 15px;
 .textShadow;
	font-size: 42px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 42px;
}
#teamname {
	font-family: 'SFCollegiateSolidRegular';
	text-align: left;
	color: #FFF;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 68px;
	.textShadow;
	text-transform: uppercase;
	margin-bottom: 20px;

}
h2 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/
/* FOOTER start		-------------------------------------------------------------------------------------------------------------*/
#footer {
	float: left;
	width: 100%;
}
#footer div {
	float: left;
	margin-top: 25px;
}
#footer h2 {
	font-family: LeagueGothicRegular;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #A6A6A6;
	text-shadow: 0px 2px 3px #FFF;
}
#footerLeft, #footerCenter, #footerRight {
	padding-left: 25px;
		padding-right: 25px;
	width: 150px;

	margin-bottom: 25px;
	font-size: 14px;
}
#footerLeft {
	margin-left: 15px;
}
#footerCenter {
	margin-left:15px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #D9D9D9;
	border-left-color: #D9D9D9;
}
#footerRight {
	margin-left: 15px;
}
/* FOOTER end		-------------------------------------------------------------------------------------------------------------*/
/* LAYOUTS start ----------------------------------------------------------------------------------------------------------------*/
#layouts figure {
	float: left;
}
#layouts {
	float: left;
	width: 100%;
	height: 475px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
}
#layouts figure {
}
.korfbal, .basketbal, .volleybal {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.2)));
}
.korfbal {
 background-color: @korfbalColor;
	height: 250px;
 border: 1px solid @korfbalBorderColor;
	top: 50px;
 .borderRadius;
 .lessOpacity;
 .transitionOff;
	margin-left: 0px;
	width: 190px;
}
.korfbal:hover {
 background-color: @korfbalColor;
	height: 300px;
 border: 1px solid @korfbalBorderColor;
	top: 25px;
 .moreOpacity;
 .transitionOn;
 .borderRadius;
}
.basketbal {
 background-color: @basketbalColor;
	height: 250px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 50px;
	margin-left: 36px;
	width: 190px;
}
.basketbal:hover {
 background-color: @basketbalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 25px;
}
.volleybal {
 background-color: @volleybalColor;
	height: 250px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 50px;
	margin-left: 36px;
	width: 190px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 25px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -20px;
	left: 0px;
	z-index: 9;
	-moz-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);

	.transitionOn2;
	}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -20px;
	left: 0px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	.transitionOff2;
}
.stripe1 {
 background-color: @korfbalColor;
	height: 100%;
 border: 1px solid @korfbalBorderColor;
 .borderRadius;
	width: 5%;
 .transitionOff;
	margin-left: 0px;
}
.stripe2 {
 background-color: @basketbalColor;
	height: 100%;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
	margin-left: 26px;
	width: 5%;
}
.stripe3 {
 background-color: @volleybalColor;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
	margin-left: 26px;
	width: 5%;
	height: 100%;
	margin-right: 26px;
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 15px;
}
#bottom {
	clear: both;
}
#login {
	background-color:#e5e5e5;
	float:right;
	-moz-border-radius-topleft: px;
	-moz-border-radius-topright: px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: px;
	border-top-right-radius: px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #444;
}

#menu {
	padding-top: 10px;
	list-style:none;
	height:30px;
	position: relative;
	z-index: 1;

	
}
#menu img {


padding-right:5px;
}


#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	border:none;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}
#menu li:hover {

}
#menu li a {
	padding: 0px;
	margin: 0px;
	
}
#menu li:hover a {

}
#menu li .drop {
}
.dropdown_3columns {
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border-top:none;
		background: #E5E5E5; /* old browsers */
background: -moz-linear-gradient(top, #E5E5E5 0%, #F2F2F2 60%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(60%,#F2F2F2)); /* webkit */
	
	
}
.dropdown_3columns {
	width: 242px;
}
.dropdown_3columns img {

	.borderRadius;

}
#menu li:hover .dropdown_3columns {
	left:-1px;
	top:auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {
	width:290px;
}
.col_2 {
	width:270px;
}
.col_3 {
	width:410px;
}
.col_4 {
	width:550px;
}
.col_5 {
	width:690px;
}
#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
}
#menu li:hover .align_right {
	left:auto;
	right:0px;
	top: 32px;
}
#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Helvetica, Arial, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	color: #444;

}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}
#menu li:hover div a {
	font-size:12px;
	
}
#menu li:hover div a:hover {
	color:#029feb;
}
#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li .greybox li {
	background:#e5e5e5;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3BCD02), color-stop(100%, #33B201)); /* webkit */
	border: 1px solid #2c9902;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 90px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33B201), color-stop(100%, #2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2B9601), color-stop(100%, #237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
	padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BABABA), color-stop(100%, #A0A0A0)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 10px;

}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9E9E9E), color-stop(100%, #848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.light a {
	padding: 10px;
		color: #F2F2F2;
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 170px;
	margin-left: 10px;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.question a {
	padding: 10px;
		color: #F2F2F2;
}
.startgame a{

font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	
.textShadow;
	font-size: 48px;
	
}
.startgame a:hover {
	color: #FFF;
	
}
.startgame img {
	display: inline;
	bottom: -7px;
left: -46px;
	position: absolute;
}
#down {
	display: inline;
	bottom: 80px;
left: 33px;
	position: absolute;
}
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/

/*	13-column layout

	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)

	---------------------------------------------------------------------------------------

	1     2      3      4      5      6      7      8      9      10     11     12     13

	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/



@media only screen and (min-width: 1212px) {
header {
 height: @headerHeight;
}
#logo {
 width: : 104px;
	height: 40px;
}
#login {
	
	float:right;
	color: #df1f2e;
}
/*#columns {
	padding-left: 168px;
}*/
#create {
	float: right;
	clear: left;
}
body {
	padding: 0 72px 0;
	width: 1068px;
}
footer {
	background-image: url("../img/footer.png");
}
/* FONTS start -------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	padding-left: 15px;
 .textShadow;
	font-size: 48px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 48px;
}

h2 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	color: #666;
}
.sportnav a {

text-transform: uppercase;
font-size: 36px;
font-family: 'LeagueGothicRegular';
line-height: 0.8;


}
.sportnav a:visited {

 color: gray;
 
}


.sportnav a:active {

text-transform: uppercase;

font-family: 'LeagueGothicRegular';
line-height: 0.8;
color: #FFF;

}
.sportnav a:hover {
color: green;
border-bottom-width: 10px;
	
	border-bottom-style: solid;
	
	border-bottom-color: #444;


}
.sportnav p {
display: inline;
color: fuchsia;
padding-right: 10px;
text-transform: uppercase;
font-size: 36px;
font-family: 'LeagueGothicRegular';
line-height: 0.8;
color: @korfbalColor;


	
}

/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/


/* FOOTER start -------------------------------------------------------------------------------------------------------------*/

#footer h2 {
	font-family: LeagueGothicRegular;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #A6A6A6;
	text-shadow: 0px 2px 3px #FFF;
}

#footerLeft, #footerCenter, #footerRight {
padding-left: 35px;
padding-right: 35px;
	width: 250px;

	margin-bottom: 25px;
	font-size: 16px;
}
#footerLeft {
	margin-left: 15px;
}
#footerCenter {
	margin-left: 45px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #D9D9D9;
	border-left-color: #D9D9D9;

}
#footerRight {
	margin-left: 45px;
}
/* FOOTER end -------------------------------------------------------------------------------------------------------------*/
/* LAYOUTS start 	-------------------------------------------------------------------------------------------------------------*/
#layouts {
	float: left;
	width: 100%;
	height: 475px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
}
#layouts figure {
}
/* LAYOUTS end -------------------------------------------------------------------------------------------------------------*/
.korfbal, .basketbal, .volleybal {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.15)));
}
.korfbal {
 background-color: @korfbalColor;
	height: 250px;
 border: 1px solid @korfbalBorderColor;
	top: 50px;
	margin-left: 15px;
 .borderRadius;
	width: 250px;
}
.korfbal:hover {
 background-color: @korfbalColor;
	height: 300px;
 border: 1px solid @korfbalBorderColor;
	top: 25px;
 .borderRadius;
}
.basketbal {
 background-color: @basketbalColor;
	margin-left: 140px;
	height: 250px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .transitionOff;
	top: 50px;
	width: 250px;
}
.basketbal:hover {
 background-color: @basketbalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .transitionOn;
	top: 25px;
}
.volleybal {
 background-color: @volleybalColor;
	margin-left: 157px;
	height: 250px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
	top: 50px;
	width: 250px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
	top: 25px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
		.transitionOn2;
}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	.transitionOff2;
}
.stripe1 {
 background-color: @korfbalColor;
	height: 60%;
 border: 1px solid @korfbalBorderColor;
 .borderRadius;
	margin-left: 0px;
}
.stripe2 {
 background-color: @basketbalColor;
	height: 60%;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
	margin-left: 36px;
}
.stripe3 {
 background-color: @volleybalColor;
	height: 60%;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
	margin-left: 36px;
	margin-right: 50px;
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 15px;
}
#playnow {
}
/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3BCD02), color-stop(100%, #33B201)); /* webkit */
	border: 1px solid #2c9902;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 110px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33B201), color-stop(100%, #2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2B9601), color-stop(100%, #237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
	padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BABABA), color-stop(100%, #A0A0A0)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9E9E9E), color-stop(100%, #848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.light a {
	padding: 10px;
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 170px;
	margin-left: 10px;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.question a {
	padding: 10px;
}
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/

}





/*	5-column layout

	60 px columns, 24 px gutters, 42 px margins, 480 px total

	---------------------------------------------------------

	1     2      3      4      5

	60px  144px  228px  312px  396px	*/



@media only screen and (max-width: 767px) and (min-width: 480px) {
body {
	padding: 0 42px 0;
	width: 396px;
	-webkit-text-size-adjust: 100%;
}
#login {
	
}
header {
 height: @headerHeight;
}
#logo {
 width: : 104px;
	height: 40px;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	padding-left: 12px;
 .textShadow;
	font-size: 38px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 28px;
}
h2 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/
footer {
	background-image: url("../img/footer2.png");
}
#footerLeft, #footerCenter, #footerRight {
	padding: 15px;
	width: 360px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#footerLeft {
	margin-left: 15px;
}
#footerCenter {
	margin-left: 15px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #D9D9D9;
	border-bottom-color: #D9D9D9;
}
#footerRight {
	margin-left: 15px;
}
/* LAYOUTS start 	-------------------------------------------------------------------------------------------------------------*/
#layouts {
	float: left;
	width: 100%;
	height: 375px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
}
#layouts figure {
}
/* LAYOUTS end -------------------------------------------------------------------------------------------------------------*/
.korfbal, .basketbal, .volleybal {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.2)));
}
.korfbal {
 background-color: @korfbalColor;
	height: 70px;
 border: 1px solid @korfbalBorderColor;
	top: 10px;
	margin-left: 0px;
 .borderRadius;
 .lessOpacity;
 .transitionOff;
	width: 396px;
}
.korfbal:hover {
 background-color: @korfbalColor;
	height: 70px;
 border: 1px solid @korfbalBorderColor;
	top: 10px;
 .moreOpacity;
 .transitionOn;
 .borderRadius;
}
.basketbal {
 background-color: @basketbalColor;
	margin-left: 0px;
	height: 70px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 15px;
	width: 396px;
}
.basketbal:hover {
 background-color: @basketbalColor;
	height: 70px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 15px;
}
.volleybal {
 background-color: @volleybalColor;
	margin-left: 0px;
	height: 70px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 20px;
	width: 396px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 70px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 20px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -32px;
	left: 220px;
	z-index: 9;
	-moz-transform: scale(0.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -32px;
	left: 220px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(0.5) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.5) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.5) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.5) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.5) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 12px;
}
#playnow {
}
/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3BCD02), color-stop(100%, #33B201)); /* webkit */
	border: 1px solid #2c9902;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	padding: 10px 0 12px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 70px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33B201), color-stop(100%, #2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2B9601), color-stop(100%, #237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
	padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BABABA), color-stop(100%, #A0A0A0)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9E9E9E), color-stop(100%, #848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.light a {
	padding: 10px;
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 170px;
	margin-left: 10px;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.question a {
	padding: 10px;
}
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/

}





/*	3-column layout

	60 px columns, 24 px gutters, 46 px margins, 320 px total

	---------------------------------------------------------

	1     2      3

	60px  144px  228px	*/



@media only screen and (max-width: 479px) {
body {
	padding: 0 46px 0;
	width: 228px;
	-webkit-text-size-adjust: 100%;
}
#login {
	
}
header {
	height: 50px;
}
#logo {
 width: : 104px;
	height: 40px;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	padding-left: 15px;
 .textShadow;
	font-size: 28px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 18px;
}
h2 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/


#footerLeft, #footerCenter, #footerRight {
	padding: 5px;
	width: 170px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 12px;
}
#footerLeft {
}
#footerCenter {
}
#footerRight {
}
/* LAYOUTS start 	-------------------------------------------------------------------------------------------------------------*/
#layouts {
	float: left;
	width: 100%;
	height: 375px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
}
#layouts figure {
}
/* LAYOUTS end -------------------------------------------------------------------------------------------------------------*/
.korfbal, .basketbal, .volleybal {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.2)));
}
.korfbal {
 background-color: @korfbalColor;
	height: 70px;
 border: 1px solid @korfbalBorderColor;
	top: 10px;
	margin-left: 0px;
 .borderRadius;
 .lessOpacity;
 .transitionOff;
	width: 228px;
}
.korfbal:hover {
 background-color: @korfbalColor;
	height: 70px;
 border: 1px solid @korfbalBorderColor;
	top: 10px;
 .moreOpacity;
 .transitionOn;
 .borderRadius;
}
.basketbal {
 background-color: @basketbalColor;
	margin-left: 0px;
	height: 70px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 15px;
	width: 228px;
}
.basketbal:hover {
 background-color: @basketbalColor;
	height: 70px;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 15px;
}
.volleybal {
 background-color: @volleybalColor;
	margin-left: 0px;
	height: 70px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 20px;
	width: 228px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 70px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 20px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -32px;
	left: 150px;
	z-index: 9;
	-moz-transform: scale(0.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.4) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -32px;
	left: 150px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(0.4) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.4) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.4) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.4) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.4) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 12px;
}
#playnow {
}
footer {
	background-image: url("../img/footer3.png");
}
/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3BCD02), color-stop(100%, #33B201)); /* webkit */
	border: 1px solid #2c9902;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 10px 0 12px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 70px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33B201), color-stop(100%, #2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2B9601), color-stop(100%, #237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
	padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BABABA), color-stop(100%, #A0A0A0)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 120px;
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9E9E9E), color-stop(100%, #848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.light a {
	padding: 10px;
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 	.borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 120px;
	margin-left: 10px;
	display: block;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.question a {
	padding: 10px;
}
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/
}
/*	Overrides for iPhone 4 and other high device-pixel-ratio devices */



@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
 #example {
 background: rgb(255,158,97);
}
}
input[type="text"], input[type="password"], input[type="email"] {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #999;
 .borderRadius;
	background: #FFF; /* old browsers */

}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #999;
 .borderRadius;
	background: #FFF;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #444;
 .borderRadius;
	background: #FFF;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px;
}
input[type="submit"] {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 	.borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	padding: 8px 0 10px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 80px;
	margin-left: 2px;
	display: block;
}
input[type="submit"]:hover {
background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;


}
input[type="submit"]:active {
background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);



}
/*
#korfbal_signup fieldset { border:none; width:320px;}
#korfbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#korfbal_signup label { display:block; margin:15px 0 5px;}
#korfbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#korfbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#korfbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#korfbal_signup .prev { float:left;}
#korfbal_signup .next { float:right;}
#korfbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#korfbal_signup #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#korfbal_signup #steps li span {font-size:11px; display:block;}
#korfbal_signup #steps li.current { color:#000;}
       

#basketbal_signup fieldset { border:none; width:320px;}
#basketbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#basketbal_signup label { display:block; margin:15px 0 5px;}
#basketbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#basketbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#basketbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#basketbal_signup .prev { float:left;}
#basketbal_signup .next { float:right;}
#basketbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#basketbal_signup #steps li {font-size:24px; float:left; padding:10px; color:red;}
#basketbal_signup #steps li span {font-size:11px; display:block;}
#basketbal_signup #steps li.current { color:#000;} 


#volleybal_signup fieldset { border:none; width:320px;}
#volleybal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#volleybal_signup label { display:block; margin:15px 0 5px;}
#volleybal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#volleybal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#volleybal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#volleybal_signup .prev { float:left;}
#volleybal_signup .next { float:right;}
#volleybal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#volleybal_signup #steps li {font-size:24px; float:left; padding:10px; color:green;}
#volleybal_signup #steps li span {font-size:11px; display:block;}
#volleybal_signup #steps li.current { color:#000;}      
*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 3, 2011 */

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'SFCollegiateSolidRegular';
	src: url('sf_collegiate_solid-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'SFCollegiateSolidRegular';
	src: url(//:) format('no404'), url('sf_collegiate_solid-webfont.woff') format('woff'), url('sf_collegiate_solid-webfont.ttf') format('truetype'), url('sf_collegiate_solid-webfont.svg#webfontvViDQrFS') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'LeagueGothicRegular';
	src: url('league_gothic-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'LeagueGothicRegular';
	src: url(//:) format('no404'), url('league_gothic-webfont.woff') format('woff'), url('league_gothic-webfont.ttf') format('truetype'), url('league_gothic-webfont.svg#webfont60yFay8f') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AllerItalic';
	src: url('aller_it-webfont.eot?') format('eot'), url('aller_it-webfont.woff') format('woff'), url('aller_it-webfont.ttf') format('truetype'), url('aller_it-webfont.svg#webfont7oSuZnvY') format('svg');
	font-weight: normal;
	font-style: normal;
}
