/* 
playb.al 
author: lenny - onehundred.be
css programing: less css
based on: less framework 3 by Joni Korpi http://lessframework.com 
*/

/* GLOBALS start */

@korfbalColor: #ebbb25;
@korfbalBorderColor: #d1a521;
@basketbalColor: #e55714;
@basketbalBorderColor: #cc4d12;
@volleybalColor: #295666;
@volleybalBorderColor: #1f404d;
@grey: #f2f2f2;
@selectionColor: rgba(232, 34, 55, 1);
@headerHeight: 75px;
@footerHeight: 150px;
.borders {
	border: 1px solid
}
.borderRadius {
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.transitionOn {
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
}
.transitionOff {
	-webkit-transition-duration: 1s;
}
.lessOpacity {
	opacity: 0.8;
}
.moreOpacity {
	opacity: 1;
}
.innerShadow {
	-webkit-box-shadow: inset 0px 0px 10px #bdbdbd;
	-moz-box-shadow: inset 0px 0px 10px #bdbdbd;
	box-shadow: inset 0px 0px 10px #bdbdbd;
}
.textShadow {
	text-shadow: 0px 0px 7px #474747;
}
/* GLOBALS end */

/* RESETS start */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height:100%;
	
}
#topbar {
	background-color: #d9d9d9;
	height: 7px;
}
#wrap {
	min-height: 100%;
}
#main {
	
 	padding-bottom: @footerHeight; /* same as footer */
}  
footer {
	position: relative;
 margin-top: -@footerHeight; /* negative of footer */
 height: @footerHeight;

	background-image: url("../img/footer.png");
	background-repeat: no-repeat;
	
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
	display: block;
}
a {
text-decoration: none;
color: #FFF;}
a img {
	border: 0;
}
figure {
	position: relative;
}
/*
figure img {
	width: 100%;
}
*/
/* RESETS end */

/* TYPE PRESETS begin */

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}
.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: 1px;
}
.large, h2 {
	font-size: 42px;
	line-height: 48px;
}
.big, h3 {
	font-size: 26px;
	line-height: 36px;
}
.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}
.small {
	font-size: 13px;
	line-height: 18px;
}
/* TYPE PRESETS end */

/*	Default 8-column layout

	60 px columns, 24 px gutters, 60 px margins, 768 px total

	---------------------------------------------------------

	1     2      3      4      5      6      7      8     

	60px  144px  228px  312px  396px  480px  564px  648px	*/



body {
	background: #f2f2f2;
	padding: 0 60px 0;
	margin-left:auto;
	margin-right:auto;
	width: 648px;
 -webkit-tap-highlight-color: @selectionColor;
  text-rendering: optimizeLegibility;
}
::selection {
 background: @selectionColor;
}
::-moz-selection {
 background: @selectionColor;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
 background: transparent;
}
header {
 height: @headerHeight;
}
#logo {
padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
 	width: : 104px;
	height: 40px;
	float:left;
}
#logo:active {
-moz-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
-webkit-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
-o-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
-ms-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
#login, #showLogin {
	background-color:#3F0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	float:right;
	moz-border-radius-topleft: px;
-moz-border-radius-topright: px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: px;
border-top-right-radius: px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
color: #444;
	
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	color: @grey;
	padding-left: 15px;
	.textShadow;
	font-size: 42px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 42px;
}
h2 {
	font-family: 'SFCollegiateSolidRegular';
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/

#layouts figure {
	float: left;
}
#layouts {
	float: left;
	width: 100%;
	height: 475px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
	width: 200px;
}
#layouts figure {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.2)));
}

.korfbal {
 	background-color: @korfbalColor;
	height: 250px;
	border: 1px solid @korfbalBorderColor;
	top: 50px;
	margin-left: 15px;
	.borderRadius;
	.lessOpacity;
	.transitionOff;	
}
.korfbal:hover {
 	background-color: @korfbalColor;
	height: 300px;
	border: 1px solid @korfbalBorderColor;
	top: 25px;
 	.moreOpacity;
 	.transitionOn;
 	.borderRadius;
}
.basketbal {
 	background-color: @basketbalColor;
	height: 250px;
 	.borderRadius;
 	border: 1px solid @basketbalBorderColor;
 	.lessOpacity;
 	.transitionOff;
	top: 50px;
	margin-left: 6px;
}
.basketbal:hover {
 	background-color: @basketbalColor;
	height: 300px;
 	.borderRadius;
 	border: 1px solid @basketbalBorderColor;
 	.moreOpacity;
 	.transitionOn;
	top: 25px;
}
.volleybal {
 background-color: @volleybalColor;
	margin-left: 10px;
	height: 250px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 50px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 25px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-moz-transform: scale(0.75) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.75) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.75) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.75) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.75) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(0.75) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.75) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.75) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.75) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.75) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 15px;
}
#bottom{
clear: both;
}
#footer {
	float: left;
	width: 100%;
}
#footer div {
	float: left;
}

/*	13-column layout

	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)

	---------------------------------------------------------------------------------------

	1     2      3      4      5      6      7      8      9      10     11     12     13

	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/



@media only screen and (min-width: 1212px) {
header {
 height: @headerHeight;
}
#logo {
 width: : 104px;
	height: 40px;
}

#login, #showLogin {
	background-color:#e5e5e5;
	float:right;

}
#login a {
	background-color: #000;
}
/*#columns {
	padding-left: 168px;
}*/
#create {
	float: right;
	clear: left;
}
body {
	padding: 0 72px 0;
	width: 1068px;
	
}
/* FONTS start -------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	color: @grey;
	padding-left: 15px;
	.textShadow;
	font-size: 48px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 48px;
}
h2 {
	font-family: 'SFCollegiateSolidRegular';
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/

/* LAYOUTS start 	-------------------------------------------------------------------------------------------------------------*/
#layouts {
	float: left;
	width: 100%;
	height: 475px;
}
#layouts p, #layouts figure {
	margin-top: 5px;
	width: 250px;
}
#layouts figure {
	-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.854, transparent), to(rgba(255,255,255, 0.2)));
}
/* LAYOUTS end -------------------------------------------------------------------------------------------------------------*/
#footerLeft, #footerCenter, #footerRight {
padding: 15px;
width: 250px;
margin-top: 25px;
margin-bottom: 25px;
}
#footerLeft {
margin-left: 15px;
}
#footerCenter {
margin-left: 100px;
}
#footerRight {
margin-left: 105px;
}
.korfbal {
 	background-color: @korfbalColor;
	height: 250px;
	border: 1px solid @korfbalBorderColor;
	top: 50px;
	margin-left: 15px;
	.borderRadius;
	.lessOpacity;
	.transitionOff;	
}
.korfbal:hover {
 	background-color: @korfbalColor;
	height: 300px;
	border: 1px solid @korfbalBorderColor;
	top: 25px;
 	.moreOpacity;
 	.transitionOn;
 	.borderRadius;
}
.basketbal {
 	background-color: @basketbalColor;
	margin-left: 140px;
	height: 250px;
 	.borderRadius;
 	border: 1px solid @basketbalBorderColor;
 	.lessOpacity;
 	.transitionOff;
	top: 50px;
}
.basketbal:hover {
 	background-color: @basketbalColor;
	height: 300px;
 	.borderRadius;
 	border: 1px solid @basketbalBorderColor;
 	.moreOpacity;
 	.transitionOn;
	top: 25px;
}
.volleybal {
 background-color: @volleybalColor;
	margin-left: 150px;
	height: 250px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .lessOpacity;
 .transitionOff;
	top: 50px;
}
.volleybal:hover {
 background-color: @volleybalColor;
	height: 300px;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
 .moreOpacity;
 .transitionOn;
	top: 25px;
}
#korfbal, #basketbal, #volleybal {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
#korfbal:hover, #basketbal:hover, #volleybal:hover {
	position: absolute;
	bottom: -20px;
	left: 5px;
	z-index: 9;
	-webkit-transition: all 10s;
	-moz-transition: all 10s;
	-o-transition: all 10s;
	transition: all 10s;
	-moz-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 15px;
}
#playnow {
}
}





/*	5-column layout

	60 px columns, 24 px gutters, 42 px margins, 480 px total

	---------------------------------------------------------

	1     2      3      4      5

	60px  144px  228px  312px  396px	*/



@media only screen and (max-width: 767px) and (min-width: 480px) {
body {
	padding: 0 42px 0;
	width: 396px;
	-webkit-text-size-adjust: 100%;
}
#login {
	background-color:#00F;
}
header {
	background-color: #C6C;
 height: @headerHeight;
}
#logo {
 width: : 104px;
	height: 40px;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	color: @grey;
	padding-left: 15px;
	.textShadow;
	font-size: 32px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 32px;
}
h2 {
	font-family: 'SFCollegiateSolidRegular';
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/
}





/*	3-column layout

	60 px columns, 24 px gutters, 46 px margins, 320 px total

	---------------------------------------------------------

	1     2      3

	60px  144px  228px	*/



@media only screen and (max-width: 479px) {
body {
	padding: 0 46px 0;
	width: 228px;
	-webkit-text-size-adjust: 100%;
}
#login {
	background-color:#FF0;
}
header {
	background-color: #C6C;
 height: @headerHeight;
}
#logo {
 width: : 104px;
	height: 40px;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	color: @grey;
	padding-left: 15px;
	.textShadow;
	font-size: 42px;
}
#tagline {
	font-family: 'AllerItalic';
	text-align: right;
	color: #808080;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 18px;
}
h2 {
	font-family: 'SFCollegiateSolidRegular';
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/
}
/*	Overrides for iPhone 4 and other high device-pixel-ratio devices */



@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
 #example {
 background: rgb(255,158,97);
}
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 3, 2011 */

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'SFCollegiateSolidRegular';
	src: url('sf_collegiate_solid-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'SFCollegiateSolidRegular';
	src: url(//:) format('no404'), url('sf_collegiate_solid-webfont.woff') format('woff'), url('sf_collegiate_solid-webfont.ttf') format('truetype'), url('sf_collegiate_solid-webfont.svg#webfontvViDQrFS') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'LeagueGothicRegular';
	src: url('league_gothic-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'LeagueGothicRegular';
	src: url(//:) format('no404'), url('league_gothic-webfont.woff') format('woff'), url('league_gothic-webfont.ttf') format('truetype'), url('league_gothic-webfont.svg#webfont60yFay8f') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AllerItalic';
	src: url('aller_it-webfont.eot?') format('eot'),  url('aller_it-webfont.woff') format('woff'),  url('aller_it-webfont.ttf') format('truetype'),  url('aller_it-webfont.svg#webfont7oSuZnvY') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
#main_login input[type="text"], input[type="password"] {
	display:block;
	margin: 0 0 1em 0;
	width: 100px;
	border: 5px;
	padding: 1em;
}
#main_login input[type="submit"] {
	border: none;
	padding: 6px;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#logged_in {
	border: none;
	padding: 6px;
	font-family: "Apple Chancery";
	background-color: silver;
	width: 200px;
}
*/


/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3BCD02), color-stop(100%,#33B201)); /* webkit */
	border: 1px solid #2c9902;
	.borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 110px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33B201), color-stop(100%,#2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2B9601), color-stop(100%,#237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BABABA), color-stop(100%,#A0A0A0)); /* webkit */
	border: 1px solid #666;
	.borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 150px;
	margin-left: 10px;
}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9E9E9E), color-stop(100%,#848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(100%,#6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02A9CD), color-stop(100%,#0195B2)); /* webkit */	border: 1px solid #666;
	.borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 150px;
	margin-right: 20px;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0195B2), color-stop(100%,#018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#018096), color-stop(100%,#016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/







/*
#korfbal_signup fieldset { border:none; width:320px;}
#korfbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#korfbal_signup label { display:block; margin:15px 0 5px;}
#korfbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#korfbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#korfbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#korfbal_signup .prev { float:left;}
#korfbal_signup .next { float:right;}
#korfbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#korfbal_signup #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#korfbal_signup #steps li span {font-size:11px; display:block;}
#korfbal_signup #steps li.current { color:#000;}
       

#basketbal_signup fieldset { border:none; width:320px;}
#basketbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#basketbal_signup label { display:block; margin:15px 0 5px;}
#basketbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#basketbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#basketbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#basketbal_signup .prev { float:left;}
#basketbal_signup .next { float:right;}
#basketbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#basketbal_signup #steps li {font-size:24px; float:left; padding:10px; color:red;}
#basketbal_signup #steps li span {font-size:11px; display:block;}
#basketbal_signup #steps li.current { color:#000;} 


#volleybal_signup fieldset { border:none; width:320px;}
#volleybal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#volleybal_signup label { display:block; margin:15px 0 5px;}
#volleybal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#volleybal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#volleybal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#volleybal_signup .prev { float:left;}
#volleybal_signup .next { float:right;}
#volleybal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#volleybal_signup #steps li {font-size:24px; float:left; padding:10px; color:green;}
#volleybal_signup #steps li span {font-size:11px; display:block;}
#volleybal_signup #steps li.current { color:#000;}      
*/
