/* LESS GLOBALS start */

@korfbalColor: #ebbb25;
@korfbalBorderColor: #d1a521;
@basketbalColor: #e55714;
@basketbalBorderColor: #cc4d12;
@volleybalColor: #336b80;
@volleybalBorderColor: #295666;
@grey: #f2f2f2;
@selectionColor: rgba(232, 34, 55, 1);
@headerHeight: 75px;
@footerHeight: 150px;
.borders {
	border: 1px solid
}
.borderRadius {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.transitionOn {
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
}
.transitionOn2 {
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: ease-in-out;
}
.transitionOff {
	-webkit-transition-duration: 1s;
}
.transitionOff2 {
	-webkit-transition-duration: 4s;
}
.lessOpacity {
	opacity: 0.8;
}
.moreOpacity {
	opacity: 1;
}
.innerShadow {
	-webkit-box-shadow: inset 0px 0px 10px #bdbdbd;
	-moz-box-shadow: inset 0px 0px 10px #bdbdbd;
	box-shadow: inset 0px 0px 10px #bdbdbd;
}
.textShadow {
	text-shadow: 0px 0px 7px #474747;
}
/* LESS GLOBALS end */






	body {
		width: 712px;
		padding: 48px 28px 60px;
	}

