@charset "UTF-8";
/* CSS Document */

/* LESS GLOBALS start */

@korfbalColor: #ebbb25;
@korfbalBorderColor: #d1a521;
@basketbalColor: #e55714;
@basketbalBorderColor: #cc4d12;
@volleybalColor: #336b80;
@volleybalBorderColor: #295666;
@grey: #F7F7F7;
@selectionColor: rgba(232, 34, 55, 1);
@headerHeight: 75px;
@footerHeight: 150px;
.borders {
	border: 1px solid
}
.borderRadius {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.transitionOn {
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 0.1s;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}
.transitionOn2 {
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 0.2s;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.transitionOff {
	-webkit-transition-duration: 1.6s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 1.6s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 1.6s;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 1.6s;
	transition-timing-function: ease-in-out;
}
.transitionOff2 {
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
.lessOpacity {
	opacity: 0.75;
}
.moreOpacity {
	opacity: 1;
}
.innerShadow {
	-webkit-box-shadow: inset 0px 0px 10px #bdbdbd;
	-moz-box-shadow: inset 0px 0px 10px #bdbdbd;
	box-shadow: inset 0px 0px 10px #bdbdbd;
}
.textShadow {
	text-shadow: 0px 0px 15px #333;
}
.imageDown {
	-moz-transform: scale(0.85) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.85) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.85) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.85) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.85) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
.imageUp {
	-moz-transform: scale(0.88) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.88) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.88) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.88) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.88) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
/* LESS GLOBALS end */

/* RESETS start */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height:100%;

}
#topbar {
	background-color: #d9d9d9;
	height: 7px;
}
#wrap {
	min-height: 100%;

}
#main {
	padding-bottom: 75px; /* same as footer */
}
footer {
	position: relative;
 margin-top: -@footerHeight; /* negative of footer */
height: 450px;
	z-index: -999;

}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
	display: block;
}
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	color: #000;
}
a img {
	border: 0;
}
figure {
	position: relative;
}

/*
figure img {
	width: 100%;
}
*/
.js #jsnotice { display: none; }
.no-js #jsnotice { display: block; }

/* RESETS end */
@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'SFCollegiateSolidRegular';
	src: url('sf_collegiate_solid-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'SFCollegiateSolidRegular';
	src: url(//:) format('no404'), url('fonts/sf_collegiate_solid-webfont.woff') format('woff'), url('fonts/sf_collegiate_solid-webfont.ttf') format('truetype'), url('fonts/sf_collegiate_solid-webfont.svg#webfontvViDQrFS') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'LeagueGothicRegular';
	src: url('fonts/league_gothic-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'LeagueGothicRegular';
	src: url(//:) format('no404'), url('fonts/league_gothic-webfont.woff') format('woff'), url('fonts/league_gothic-webfont.ttf') format('truetype'), url('fonts/league_gothic-webfont.svg#webfont60yFay8f') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AllerItalic';
	src: url('fonts/aller_it-webfont.eot?') format('eot'), url('fonts/aller_it-webfont.woff') format('woff'), url('fonts/aller_it-webfont.ttf') format('truetype'), url('fonts/aller_it-webfont.svg#webfont7oSuZnvY') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* TYPE PRESETS begin */

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}
.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: 1px;
}
.large, h2 {
	font-size: 36px;
	line-height: 48px;
}
.big, h3 {
	font-size: 26px;
	line-height: 36px;
}
.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
	color: #222;
}
.small {
	font-size: 13px;
	line-height: 18px;
}
/* TYPE PRESETS end */



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */


body {
	width: 896px;
/* 	padding: 0px 48px 84px; */
	background-color: #F7F7F7;
	margin-left:auto;
	margin-right:auto;
	text-rendering: optimizeLegibility;
	background: url(../img/400.jpg) repeat 0% 0%;
 	-webkit-tap-highlight-color: @selectionColor;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
 	overflow-y: scroll;
 			overflow-x: hidden;
}
::selection {
 background: @selectionColor;
}
::-moz-selection {
 background: @selectionColor;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
 background: transparent;
}
header {
 height: @headerHeight;
}
footer {
	/* 	background-image: url("../img/footer1.png"); */
/* float: left; */
}
#logo {
	padding: 7px 7px 0 0;
	width:104px;
	height: 40px;
	float:left;
}
#logo:hover {
	-moz-transform: scale(1) rotate(-1deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(-1deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(-1deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(-1deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(-1deg) translate(0px, 0px) skew(0deg, 0deg);
	cursor: pointer;
}
#logo:active {
	-moz-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.95) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
iframe {
width: 708px; height: 430px;
}
.bottomButtons {
	float: right;
	display: inline;
}
/* FONTS start 		-------------------------------------------------------------------------------------------------------------*/
.korfbal h1, .basketbal h1, .volleybal h1 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	padding-left: 15px;
 .textShadow;
	font-size: 48px;
	cursor: default;
	font-weight: normal;
}
#tagline {
	font-family: 'AllerItalic';
	color: #FAFAFA;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px;
	font-size: 42px;
	display: inline;
	float: right;
	cursor: default;
	margin: 40px 0 0 0;
 .textShadow;
}
#teamname {
	font-family: 'SFCollegiateSolidRegular';
	text-align: left;
	color: #FFF;
	/*  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) 0px -1px; */
	font-size: 56px;
 .textShadow;
	text-transform: uppercase;
	font-weight: normal;
	cursor: default;
}
h2 {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
}
/* FONTS end 		-------------------------------------------------------------------------------------------------------------*/
/* ANIMATIONS start *****************************************************************************************************************/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	/*     -o-transition-duration: 0.8s;*/
          transition-duration: 0.5s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	/*     -o-transition-property: height, width;*/
          transition-property: height, width;
}
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	/*     -o-transition-property:      -o-transform, opacity;*/
          transition-property:         transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	/*     -o-transition-duration: 0s;*/
          transition-duration: 0s;
}
/* ANIMATIONS end *****************************************************************************************************************/
/* gameRight start ----------------------------------------------------------------------------------------------------------*/
.gameRight {
	font-size: 15px;
	float: right;
	width: 568px;/* margin-top: 15px; */

}
.player, .playerDetail, .playerFemale, .playerMale {
	width: 245px;
	height: 70px;
	background: #FAFAFA;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	margin-right: 20px;
	float: left;
	margin-bottom: 15px;
	padding: 7px;
	border: 1px solid #E5E5E5;
	opacity: 0.9;
	z-index: 1;
}
.player:hover, .playerDetail:hover {
	border: 1px solid #CCC;
}
.playerDetail {
	height: 412px;
}
.gameRight .number {
	font-size: 64px;
	font-family: 'SFCollegiateSolidRegular';
	display: inline;
	padding: 7px;
	float: left;
	line-height: 45px;
}
.gameRight .firstname {
	text-transform: capitalize;
	display: inline;
	padding-right: 7px;
}
.gameRight .lastname {
	text-transform: uppercase;
	display: inline;
}
.gameRight .gender {
	display: inline;
	line-height: 30px;
	padding-left: 5px;
}
.gameRight .age {
	display: inline;
	line-height: 28px;
}
.gameRight .price {
	display: inline;
}
.gameRight #rightProgress {
	width: 115px;
	float: right;
}
.gameRight #leftProgress {
	width: 115px;
}
.rebound, .passing, .stamina, .shotprecision, .playmaking, .shotpower, .intercepting, .leadership {
	display: inline;
}
.gameRight #skillTitle {
	display: inline;
}
aside {
	float: left;
}
.gameLeft {

	width: 297px;
	/* 	padding: 0 15px 15px 15px; */
	font-size: 15px;
	color: #222;
 .borderRadius;

}
.gameLeft ul, .gameLeft li {
	list-style-type: none;
	display: inline;
}
.gameLeft h2 {
	font-size: 32px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #FAFAFA;
	padding: 0 0 0 10px;
	text-transform: lowercase;
}
.gameLeft p {
	padding: 0 0 10px 10px;
	color: #FFF;
}
/*
.gameLeft div {
	margin: 0 0 30px 0;
	padding: 15px 14px 13px 14px;
	-webkit-box-shadow:  0px 0px 10px #bdbdbd;
	-moz-box-shadow: 0px 0px 10px #bdbdbd;
	box-shadow: 0px 0px 10px #bdbdbd;
	.borderRadius;
	.transitionOff;
}
*/
.gameLeft div:hover {
/*
	-webkit-box-shadow:  0px 0px 10px #a3a3a3;
	-moz-box-shadow: 0px 0px 10px #a3a3a3;
	box-shadow: 0px 0px 10px #a3a3a3;
	.transitionOn2;
*/
}
/*
.gameLeft div section {
	-webkit-box-shadow:  inset 0px 0px 10px #bdbdbd;
	-moz-box-shadow: inset 0px 0px 10px #bdbdbd;
	box-shadow: inset 0px 0px 10px #000;
		background-color: rgba(0, 0, 0, 0.75);
}
*/
.gameLeft table {
	color: #FFF;
	width: 380px;
	padding: 15px 14px 13px 14px;
	border: none;
}
.gameLeft table tr:nth-child(1) {
	background-color: green;
}
.gameLeft table tr:nth-child(2) {
	background-color: red;
}
.gameLeft table tr:nth-child(3) {
	background-color: blue;
}
.gameLeft table tr:nth-child(4) {
	background-color: yellow;
}
/* gameRight end -------------------------------------------------------------------------------------------------------------*/

.sportnav {
	margin-bottom: 15px;
}
.sportnav a {
	text-transform: uppercase;
	font-family: 'LeagueGothicRegular';
	line-height: 0.8;
	color: #bfbfbf;
 .transitionOff;
	font-size: 32px;
}
.sportnav a:hover {
	color: #888;
 .transitionOn;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #888;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #888;
}
.sportnav a:active {
	text-transform: uppercase;
	font-family: 'LeagueGothicRegular';
	line-height: 0.8;
	color: #E5E5E5;
}
.sportnav a:visited {
}
.sportnav p {
	display: inline;
	padding-right: 5px;
	text-transform: uppercase;
	font-size: 32px;
	font-family: 'LeagueGothicRegular';
	line-height: 0.8;
color: @korfbalColor;
	cursor: pointer;/* -webkit-text-stroke: 1px @korfbalBorderColor; *//* text-shadow: 0px -1px 1px rgba(1, 1, 1, .8); */
}
/* TOOLTIPS start ---------------------------------------------------------------------------------------------------------*/
a.tooltip:after {
	font-size: 12px;
	line-height: 1.2;
	color: #F2F2F2;
	content: attr(title);
	display:none;
	position:absolute;
	padding:10px 10px;
	top:0px;
	margin:1em 0 3em;
	background:#F7F7F7;
	left:-55px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius: 3px;
	background: #E80332; /* old browsers */
	background: -moz-linear-gradient(top, #CC042C 0%, #E80332 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CC042C), color-stop(100%, #E80332)); /* webkit */
	-moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */
}
/* driehoek */
a.tooltip:before {
	z-index:13;
	position:absolute;
	content:"\00a0";
	display:none;
	width:0;
	height:0;
	border-style:solid;
	bottom:5px;
	left:-4px;
	border-width:15px 10px 15px 10px;
	border-color:#E80332 transparent transparent;
}
a.tooltip:hover::before {
	display:block;
}
a.tooltip:hover {
	z-index:10;
	position:relative;
}
a.tooltip:hover::after {
	width: 90px;
	height: 44px;
	display:block;
	margin:-80px 0 0 10px;
}
/* TOOLTIPS end -----------------------------------------------------------------------------------------------------------*/
/* FOOTER start		-------------------------------------------------------------------------------------------------------------*/
#footer {
	float: left;
	width: 100%;
	background-image: url("../img/footer1.png");
	background-repeat: no-repeat;
	top: -29px;
	position: relative;
	padding: 40px 0 0 0;

}
#footer div {
	float: left;/* 	margin-top: 25px; */
}
#footer h2 {
	font-family: LeagueGothicRegular;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #A6A6A6;
	text-shadow: 0px 2px 3px #FFF;
}
#footerLeft, #footerCenter, #footerRight {
	padding-left: 25px;
	padding-right: 25px;
	width: 150px;
	margin-bottom: 25px;
	font-size: 14px;
}
#footerLeft {
	margin-left: 15px;
}
#footerCenter {
	margin-left:15px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #D9D9D9;
	border-left-color: #D9D9D9;
}
#footerRight {
	margin-left: 15px;
}
/* FOOTER end		-------------------------------------------------------------------------------------------------------------*/
/* LAYOUTS start ----------------------------------------------------------------------------------------------------------------*/
#layouts figure {
	float: left;
}
#layouts, #layouts2 {


	height: 475px;
}
#layouts p, #layouts figure {
/* 	margin-top: 5px; */
}
#layouts figure {
}
.korfbal, .basketbal, .volleybal {
-webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottombottom, from(transparent), color-stop(.7, transparent), to(white));
}
.korfbal:hover, .basketbal:hover, .volleybal:hover {

}
.korfbal {
	top: 25px;
	margin: 10px;
 .imageDown;
 .transitionOff;
}
.korfbal:hover {
	top: 25px;
 .imageUp;
 .transitionOn;
}
.basketbal {
	top: 25px;
	margin: 10px 0 0 0px;
 .imageDown;
 .transitionOff;
}
.basketbal:hover {
	top: 25px;
 .imageUp;
 .transitionOn;
}
.volleybal {
	top: 25px;
	margin: 10px 0 0 0px;
 .imageDown;
 .transitionOff;
}
.volleybal:hover {
	top: 25px;
 .imageUp;
 .transitionOn;
}
.korfbalAnimation, .basketbalAnimation, .volleybalAnimation {
 .transitionOn;
 .imageUp;
}
#korfbal, #basketbal, #volleybal {
	cursor: pointer;
	-moz-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
.transitionOn2;
}
#korfbal:active, #basketbal:active, #volleybal:active {
	-moz-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(0.8) rotate(720deg) translate(0px, 0px) skew(0deg, 0deg);
.transitionOff2;
}
#belowbottom {
	/* 	 	background-image: url("../img/slideshowbg.png"); */
	 	background-repeat: no-repeat;
	height: 500px;
	margin: 50px 0 0 0;
	position: relative;
}
.stripe1 {
 background-color: @korfbalColor;
	height: 100%;
 border: 1px solid @korfbalBorderColor;
 .borderRadius;
	width: 5%;
 .transitionOff;
	margin-left: 0px;
}
.stripe2 {
 background-color: @basketbalColor;
	height: 100%;
 .borderRadius;
 border: 1px solid @basketbalBorderColor;
	margin-left: 26px;
	width: 5%;
}
.stripe3 {
 background-color: @volleybalColor;
 .borderRadius;
 border: 1px solid @volleybalBorderColor;
	margin-left: 26px;
	width: 5%;
	height: 100%;
	margin-right: 26px;
}
#create {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 30px;
	z-index: 10;
	margin: 15px;
}
#bottom {
	clear: both;
}
#login {
	background-color:#e5e5e5;
	float:right;
	color: #444;
 .borderRadius;
}
#menu {
	padding-top: 10px;
	list-style:none;
	height:30px;
	position: relative;
	z-index: 1;
}
#menu img {
	padding-right:5px;
}
.dropdown_3columns {
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border-top:none;
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #F7F7F7 60%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5E5E5), color-stop(60%, #F7F7F7)); /* webkit */
}
.dropdown_3columns {
	width: 242px;
}
.dropdown_3columns img {
 .borderRadius;
}
#menu li:hover .dropdown_3columns {
	left:-1px;
	top:auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {
	width:290px;
}
.col_2 {
	width:270px;
}
.col_3 {
	width:410px;
}
.col_4 {
	width:550px;
}
.col_5 {
	width:690px;
}
#menu .menu_right {
	float:right;
	margin-right:0px;
}
li.menu_right {
	list-style-type: none;
	padding: 10px;
}
/* BUTTONS start -------------------------------------------------------------------------------------------------------------*/

/* okay 
*******************************************************************************/
.okay {
	background: #3BCD02;
	background: -moz-linear-gradient(top, #3BCD02 0%, #33B201 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3BCD02), color-stop(100%, #33B201)); /* webkit */
	border: 1px solid #2c9902;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 90px;
}
.okay:hover {
	background: #33B201; /* old browsers */
	background: -moz-linear-gradient(top, #33B201 0%, #2B9601 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33B201), color-stop(100%, #2B9601)); /* webkit */
	cursor: pointer;
}
.okay:active {
	background: #2B9601; /* old browsers */
	background: -moz-linear-gradient(top, #2B9601 0%, #237A01 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2B9601), color-stop(100%, #237A01)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(74, 255, 3, 0.4);
}
.okay a {
	padding: 10px;
}
/* light
*******************************************************************************/
.light {
	background: #BABABA; /* old browsers */
	background: -moz-linear-gradient(top, #BABABA 0%, #A0A0A0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BABABA), color-stop(100%, #A0A0A0)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.light:hover {
	background: #9E9E9E; /* old browsers */
	background: -moz-linear-gradient(top, #9E9E9E 0%, #848484 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9E9E9E), color-stop(100%, #848484)); /* webkit */
	cursor: pointer;
}
.light:active {
	background: #878787; /* old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #6D6D6D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #6D6D6D)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.light a {
	padding: 10px;
	color: #F7F7F7;
}
/* question
*******************************************************************************/
.question {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 12px 0 14px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	display: inline;
	width: 170px;
	margin-left: 10px;
}
.question:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
.question:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
.question a {
	padding: 10px;
 color: @grey;
}
.startgame a {
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
 color: @grey;
	letter-spacing: 1px;
 .textShadow;
	font-size: 48px;
}
.startgame a:hover {
	color: #FFF;/*
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #000;	
*/
	
}
.startgame img {
	display: inline;
	bottom: -7px;
	left: -46px;
	position: absolute;
}
#continue a {
	color: #F7F7F7;
	font-family: 'LeagueGothicRegular';
	font-size: 32px;
	padding-left: 15px;
.textShadow;
	color: #F7F7F7;
	text-transform: uppercase;
}
#overview {
	padding-left: 15px;
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	font-size: 32px;
	color: #F7F7F7;
 .textShadow;
}
#overview2 {
	padding-left: 15px;
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	font-size: 32px;
	color: #F7F7F7;
 .textShadow;
}
#down {
	display: inline;
	bottom: 80px;
	left: 33px;
	position: absolute;
}
input[type="text"], input[type="password"], input[type="email"] {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #999;
 .borderRadius;
	background: #FFF; /* old browsers */
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #999;
 .borderRadius;
	background: #FFF;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
	display:block;
	margin: 0 0 1em 0;
	width: 200px;
	padding: 5px;
	border: solid 1px #444;
 .borderRadius;
	background: #FFF;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px;
}
input[type="submit"] {
	background: #02A9CD; /* old browsers */
	background: -moz-linear-gradient(top, #02A9CD 0%, #0195B2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02A9CD), color-stop(100%, #0195B2)); /* webkit */
	border: 1px solid #666;
 .borderRadius;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4), 0 1px 3px #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	padding: 8px 0 10px 0;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
	width: 125px;
	margin-left: 2px;
	display: block;
	color: #FFF;
}
input[type="submit"]:hover {
	background: #0195B2; /* old browsers */
	background: -moz-linear-gradient(top, #0195B2 0%, #018299 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0195B2), color-stop(100%, #018299)); /* webkit */
	cursor: pointer;
}
input[type="submit"]:active {
	background: #018096; /* old browsers */
	background: -moz-linear-gradient(top, #018096 0%, #016C7F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #018096), color-stop(100%, #016C7F)); /* webkit */
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(242, 242, 242, 0.4);
}
select {
	background: #F7F7F7; /* old browsers */
	padding: 10px;
	font-size: 16px;
}
/* BIG GALLERY start ---------------------------------------------------------------------------------------------------------*/
.container {
	width: 866px;
	padding: 0;
	margin: 0 auto;
}
.folio_block {
	position: absolute;
	left: 0%;
	top: 15px;
}
/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--galleryWrapper/Masking Styles--*/
.galleryWrapper {
	height:500px;
	width: 866px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.imgs {
	position: absolute;
	top: 0;
	left: 15px;
}
.imgs img {
	float: left;
}
/*--pagingGallery Styles--*/
.pagingGallery {
	margin: 20px auto 0 auto;
	width: 178px;
	height:47px;
	z-index: 100; /*--Assures the pagingGallery stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.pagingGallery a {
	padding: 10px 15px 5px 15px;
	margin: 0 5px 0 0;
	background-image: url("../img/bullet_inactive.png");
	opacity: 0.9;
	z-index: 1;
}
.pagingGallery a.active {
	font-weight: bold;
	background-image: url("../img/bullet_active.png");
}
.pagingGallery a.active {
	background-image: url("../img/bullet_active.png");
}
.pagingGallery a:hover {
	opacity: 0.8;
}
#content {
	height:567px;
	width:896px;
	overflow:hidden;
	position:relative;
	border : 1px solid black;
}
.imgs {
	float:left;
	display:inline;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	margin:0px;
	width:2700px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.imgs img {
	padding:0px;
	margin:0px;
	width:1006px;
	height:600px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

/* BIG GALLERY end ---------------------------------------------------------------------------------------------------------*/
/* CAROUSEL */

.carousel{
    margin:  0 0 25px 0;
    position:relative;
    height: 430px;
    width: 1168px;
    overflow:hidden;    
}

.carousel h2{
	color: #fff;
}	


.carousel .backgrounds{
    height: 354px;
}

.carousel .backgrounds .item{
    width: 1168px;
    height: 430px;
    float:left;
    position:relative;
    z-index:1;
}

.carousel .backgrounds .item_1{
    background: transparent url(../images/carousel_bg_arrow.jpg) no-repeat 0 0;
}

.carousel .backgrounds .item_2{
    background: transparent url(../images/carousel_bg_arrow.jpg) no-repeat 0 0;
}

.carousel .backgrounds .item_3{
    background: transparent url(../images/carousel_bg_1.jpg) no-repeat 0 0;
}

.carousel .panel{
    background: #000;
    color: #fff;
    position:absolute;
    right: 0;
    top:0;
    height: 430px;
    width: 460px;
    z-index:10;
}

.carousel .panel .paging{
    position:absolute;
    bottom: 25px;
    left:25px;
    width: 225px;    
    text-align:center;   
}

.carousel .panel .paging a{
    color: #4c4c4c;
    font-size: 1.1em;
}

.carousel .panel .pause{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_pause_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}

.carousel .panel .play{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_play_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}


.carousel .panel .paging .next{
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_next_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}

.carousel .panel .paging .previous{
    position:absolute;
    left:0;
    bottom:0;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_previous_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
}

.carousel .panel .paging #numbers a {
    padding: 0 5px 0 5px;
}

.carousel .panel .paging #numbers a.selected {
    color: #fff;
}



.carousel .panel .details_wrapper {
    position:absolute;
    top:20px;
    left:25px;
    width: 225px;
    overflow:hidden;
    height: 200px;
}

.carousel .panel .details_wrapper .details{
    height: 200px;
}

.carousel .panel .details_wrapper .details .detail{
    width: 225px;
    height: 200px;
    float:left;
    
}

.carousel .panel .details_wrapper .details h2{
    font-size: 1.9em;
    line-height: 1.2em;
    margin: 0 0 5px 0;
}

.carousel .panel .details_wrapper .details a.more{
    color: #fff;
    font-size:1.1em;
}   

/* END CAROUSEL */

/* TOASTMESSAGES begin -------------------------------------------------------------------------------------------------------------*/
.toast-container {
	width: 280px;
	z-index: 9999;
}


* html .toast-container {
	position: absolute;		
}
 
.toast-item {
	height: auto;
	background: #333;
    opacity: 0.9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: lucida Grande;
	font-size: 14px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background:url(../../img/close.gif);
    width:22px;
    height:22px;
    position: absolute;
    top:7px;
    right:7px;
}

.toast-item-image {
    width:32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float:left;
}

.toast-item-image-notice {
    background:url(../../img/notice.png);
}

.toast-item-image-success {
    background:url(../../img/success.png);
}

.toast-item-image-warning {
    background:url(../../img/warning.png);
}

.toast-item-image-error {
    background:url(../../img/error.png);
}


/** 
 * toast types 
 * 
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 * 
 */
.toast-type-notice {
    color: white;    
}

.toast-type-success {
    color: white;    
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
}

.toast-type-error {
    color: white;
    border-color: #B32B2B;
}

/** 
 * positions 
 * 
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 * 
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}
/* TOASTMESSAGES end -------------------------------------------------------------------------------------------------------------*/
/* BUTTONS end -------------------------------------------------------------------------------------------------------------*/
#laadtest {





}
#korfbal_signup fieldset { border:none; width:320px;}
#korfbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#korfbal_signup label { display:block; margin:15px 0 5px;}
#korfbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#korfbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#korfbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#korfbal_signup .prev { float:left;}
#korfbal_signup .next { float:right;}
#korfbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#korfbal_signup #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#korfbal_signup #steps li span {font-size:11px; display:block;}
#korfbal_signup #steps li.current { color:#000;}
       

#basketbal_signup fieldset { border:none; width:320px;}
#basketbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#basketbal_signup label { display:block; margin:15px 0 5px;}
#basketbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#basketbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#basketbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#basketbal_signup .prev { float:left;}
#basketbal_signup .next { float:right;}
#basketbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#basketbal_signup #steps li {font-size:24px; float:left; padding:10px; color:red;}
#basketbal_signup #steps li span {font-size:11px; display:block;}
#basketbal_signup #steps li.current { color:#000;} 


#volleybal_signup fieldset { border:none; width:320px;}
#volleybal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#volleybal_signup label { display:block; margin:15px 0 5px;}
#volleybal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#volleybal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#volleybal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#volleybal_signup .prev { float:left;}
#volleybal_signup .next { float:right;}
#volleybal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#volleybal_signup #steps li {font-size:24px; float:left; padding:10px; color:green;}
#volleybal_signup #steps li span {font-size:11px; display:block;}
#volleybal_signup #steps li.current { color:#000;}     