#korfbal_signup fieldset { border:none; width:320px;}
#korfbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#korfbal_signup label { display:block; margin:15px 0 5px;}
#korfbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#korfbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#korfbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#korfbal_signup .prev { float:left;}
#korfbal_signup .next { float:right;}
#korfbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#korfbal_signup #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#korfbal_signup #steps li span {font-size:11px; display:block;}
#korfbal_signup #steps li.current { color:#000;}
       

h2 {
	font-family: 'SFCollegiateSolidRegular';
}



#basketbal_signup fieldset { border:none; width:320px;}
#basketbal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#basketbal_signup label { display:block; margin:15px 0 5px;}
#basketbal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#basketbal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#basketbal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#basketbal_signup .prev { float:left;}
#basketbal_signup .next { float:right;}
#basketbal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#basketbal_signup #steps li {font-size:24px; float:left; padding:10px; color:red;}
#basketbal_signup #steps li span {font-size:11px; display:block;}
#basketbal_signup #steps li.current { color:#000;} 


#volleybal_signup fieldset { border:none; width:320px;}
#volleybal_signup legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
#volleybal_signup label { display:block; margin:15px 0 5px;}
#volleybal_signup input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
#volleybal_signup .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#volleybal_signup .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
#volleybal_signup .prev { float:left;}
#volleybal_signup .next { float:right;}
#volleybal_signup #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#volleybal_signup #steps li {font-size:24px; float:left; padding:10px; color:green;}
#volleybal_signup #steps li span {font-size:11px; display:block;}
#volleybal_signup #steps li.current { color:#000;}       